@use "../themes/defaultTheme" as *;
@use "../util/variables" as *;
@use "../util/mixins" as *;

html {
  background-color: $white;
}

.main {
  background-color: $white;
  .background {
    background-color: $white;
    .marvel {
      background-color: $red-dark;
      width: 10.5%;
      @include center-auto;
      margin-top: 3rem;
    }
    .blank {
      background-color: black;
      width: 10%;
      padding: 5%;
      @include center-auto;
      text-shadow: none;
      position: relative;

      animation: swinging 3s;
    }
    @keyframes swinging {
      0% {
        right: 200px;
      }
      20% {
        right: 150px;
      }
      40% {
        right: 0;
      }
      60% {
        right: 150px;
      }
      100% {
        right: 200px;
      }
    }
  }
}
