//dark shades of primary color
$primary-0: hsl(185, 6%, 21%);
$primary-1: hsl(185, 6%, 26%);
$primary-2: hsl(185, 6%, 31%);
$primary-3: hsl(185, 6%, 36%);
$primary-4: hsl(185, 6%, 41%);//primary color
$primary-5: hsl(185, 6%, 46%);
$primary-6: hsl(185, 6%, 51%);
$primary-7: hsl(185, 6%, 56%);
$primary-8: hsl(185, 6%, 61%);
$primary-9: hsl(185, 6%, 66%);
//lighter shades of primary color


//dark shades of secondary color
$secondary-0: hsl(330, 60%, 100%);
$secondary-1: hsl(330, 60%, 96%);
$secondary-2: hsl(330, 60%, 91%);
$secondary-3: hsl(330, 60%, 86%);
$secondary-4: hsl(330, 60%, 81%);//sceondary color
$secondary-5: hsl(330, 60%, 79%);
$secondary-6: hsl(330, 60%, 74%);
$secondary-7: hsl(330, 60%, 69%);
$secondary-8: hsl(330, 60%, 64%);
$secondary-9: hsl(330, 60%, 59%);
//lighter shades of secondary color

//dark shades of secondary color
$grey-0: hsl(0, 0%, 21%);
$grey-1: hsl(0, 0%, 29%);
$grey-2: hsl(0, 0%, 37%);
$grey-3: hsl(0, 0%, 45%);
$grey-4: hsl(0, 0%, 52%);//primary grey
$grey-5: hsl(0, 0%, 60%);
$grey-6: hsl(0, 0%, 67%);
$grey-7: hsl(0, 0%, 74%);
$grey-8: hsl(0, 0%, 81%);
$grey-9: hsl(0, 0%, 88%);
//lighter shades of secondary color


//misc
$white: rgb(255, 255, 255);
$black: #222;
$red-dark: hsl(0, 100%, 40%);
$red-light: hsl(4, 67%, 67%);
$green-dark: hsl(125, 75%, 40%);
$green-light: hsl(125, 67%, 75%);


